<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yf.mapper.TbProductMapper">

    <resultMap id="BaseResultMap" type="com.yf.model.TbProduct">
        <result column="id" property="id"/>
        <result column="pname" property="name"/>
        <result column="price" property="price"/>
    </resultMap>

    <!--基础列-->
    <sql id="Base_Columns">
        id,
        pname,
        price
    </sql>


    <!--更新-->
    <update id="update" parameterType="com.yf.model.TbProduct">
        UPDATE t_product
        <set>
            <if test="name != null">
                pname = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
        </set>
        WHERE
        id = #{id}
    </update>


    <!--基础连接查询-->
    <sql id="Base_Joins">

    </sql>

    <!--查询所有记录-->
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Columns"/>
        FROM
        t_product a
        ORDER BY
        a.id DESC
    </select>

    <!--查询列表-->
    <select id="findList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Columns"/>
        FROM
        t_product a
        <where>
            1 = 1
            <if test="name != null">
                AND a.pname = #{name}
            </if>
        </where>
        ORDER BY
        a.id DESC
    </select>



    <!--根据ID查询-->
    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Columns"/>
        FROM t_product a
        <include refid="Base_Joins"/>
        WHERE
        a.id = #{id}
    </select>


    <!--保存-->
    <insert id="save" parameterType="com.yf.model.TbProduct" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO t_product(
        <include refid="Base_Columns"></include>
        ) VALUES (
        #{id},
        #{name},
        #{price}
        )
    </insert>


    <!--删除-->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE
        t_product
        SET
        is_deleted = 1
        WHERE
        id = #{id}
    </update>
</mapper>
